@{
    ViewBag.Title = "Funcionalidades";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Torneios</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center">Jogue torneios</h2>
                    <p class="intro text-center">Levante o seu troféu e receba o reconhecimento de todos</p>
                    <div class="desc text-left">
                        <p>O sistema permite a organização de torneios, dividindo os tenistas por classes.</p>
                        <p>Diversos tipos de classes podem ser criadas: feminina, master, elite e etc...</p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
