@{
    ViewBag.Title = "Quem Somos";
    Layout = "~/Views/Shared/_LayoutTenisRanking.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Quem Somos</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center"></h2>
                    <p class="intro text-center"></p>
                    <div class="desc text-left">
                        <p>O sistema RANKING DE TÊNIS nasceu do sucesso alcançado pela Barragem do Cerrado. Esta foi fundada em setembro de 2011 e nasceu para agregar todos os tenistas de Brasília, independente do clube ao qual são associados. O espírito foi fazer um ranking democrático onde qualquer amante do tênis pudesse participar. Hoje são mais de 140 tenistas espalhados pelos quatro cantos de Brasília de clubes variados, que se desafiam semanalmente, e ainda participam de confraternizações, workshops, torneios, etc.</p>
                        <p>No sistema utilizado pela Barragem, que agora esta sendo disponibilizado as todos os interessados através do RANKING DE TÊNIS, o organizador de Ranking's/Barragens pode gerenciar tudo com apenas alguns cliques semanais no celular. Os tenistas lançam seus resultados, visualizam seus históricos, tudo de uma forma interativa e prática.</p>
                        <p>Hoje são mais de 400 tenistas espalhados por Brasília e alguns pontos do país que já utilizam este sistema revolucionário.</p>
                        <p>Entre em contato com a gente para conhecer o sistema.</p>
                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
