@{
    ViewBag.Title = "Regulamento";
    Layout = "~/Views/Shared/_LayoutTenisRanking.cshtml";
}

<!-- ******Signup Section****** -->
<div class="headline-bg">
</div>
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Regulamento</h2>
    </div><!--//container-->
</section><!--//feature-video-->
<section class="signup-section access-section section">
    <div class="container">
        <div class="row">
            <div class="form-box col-md-12 col-sm-12 col-xs-12">
                <div class="form-box-inner">
                    <h2 class="title text-center"></h2>
                    <p class="intro text-center"></p>
                    <div class="desc text-left">
                        <p class=MsoCaption align=center style='text-align:center'>
                            <span style='font-size:20.0pt'>RANKING DE TÊNIS</span>
                        </p>

                        <p class=MsoNormal style='text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>

                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    Marcação de jogos e
                                    definição da rodada:
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Os confrontos serão definidos pelas
                                seguintes regras, com base no ranking atualizado rodada a rodada:
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Sempre o 1º colocado
                                jogará com o 2º, o 3º com 4º, e assim sucessivamente.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Serão observadas as
                                licenças, afastamentos, etc... (Ex: Suponhamos que o 2º colocado esteja de
                                licença, portanto o 1º colocado jogará com o 3º, e assim por diante).
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                A formação da rodada será
                                induzida pelo sistema de forma que a repetição de confrontos só aconteça depois
                                de 03(três) rodadas.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se houver número ímpar
                                de participantes no ranking, será acrescentado um jogador “CURINGA”, que
                                servirá para termos um número par de jogadores.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.4.1.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Para
                                efeito de pontuação, o jogador que for sorteado para “enfrentar o CURINGA”
                                receberá a pontuação de um Duplo 6x0.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.1.4.2.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                O
                                sorteio para enfrentar o “CURINGA” será realizado em primeiro lugar entre os
                                jogadores que tenham deixado de cadastrar o resultado da rodada anterior, em
                                seguida entre os jogadores que tenham deixado de jogar mas tenham avisado e
                                como última opção será realizado entre todos os ranqueados.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.2.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O desafiante será sempre o que está mais
                                abaixo na ordem de classificação.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.3.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O desafio deverá acontecer <b>
                                    através de
                                    contato telefônico
                                </b> até a quinta-feira, da mesma semana do jogo.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.3.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Para o jogo, o
                                desafiante deverá dar duas opções de dias e horários.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.3.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se o desafiado não
                                puder em nenhuma das opções, então ele, o desafiado, deverá dar duas outras
                                opções de dias e horários.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.3.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se não for possível
                                chegar a um consenso, nenhum jogador receberá pontos.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.3.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                A resposta ao desafio
                                deverá ocorrer até a quinta-feira, mas nada impede que seja antes e que talvez
                                o jogo seja realizado até mesmo na quarta ou na quinta.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span class=apple-style-span>
                                <span style='line-height:150%;font-family:
"Arial",sans-serif'>1.4.<span style='font:7.0pt "Times New Roman"'> </span></span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                As bolas do jogo
                                ficarão a cargo do desafiante. As bolas <span class=apple-style-span>
                                    deverão
                                    ser NOVAS ou SEMI-NOVAS.
                                </span>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.5.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                A divulgação da tabela ocorrerá toda a
                                terça-feira após as 22:00 h.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.5.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Para que isso ocorra,
                                os resultados dos jogos deverão ser cadastrados no site<b>
                                    até as 21:59 h da
                                    terça-feira.
                                </b>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <a name="_Ref104609263">
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    1.5.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                                </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    Nos jogos que não
                                    tiverem seu resultado informado, ambos os jogadores
                                </span>
                            </a><span style='line-height:150%;font-family:"Arial",sans-serif'>não receberão pontuação.</span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.5.2.1.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                A
                                responsabilidade de cadastrar o resultado é do <b>
                                    vencedor, mas o perdedor
                                    também pode cadastrar.
                                </b>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                1.5.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Caso o jogo seja
                                realizado com atraso o Vencedor deve lançar o resultado atrasado no site da
                                mesma forma como se faz para o jogo realizado em dia, ou seja, na aba controlar
                                jogo – jogos anteriores.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'></span>
                        </p>

                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>Jogos:</span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O tipo do piso ficará a cargo dos
                                jogadores.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.1.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se não houver consenso,
                                será dada preferência ao tipo de piso escolhido pelo desafiado.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Existem duas possibilidades de pontuação
                                para os jogos:
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Melhor de 3 (três)
                                sets:
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.1.1.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Vencerá
                                quem fizer 2 (dois) sets primeiro.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.1.2.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Em
                                caso de empate em 6x6, deverá ser jogado o “tie-break”.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>Set longo ou pró-set:</span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.2.1.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Vencerá
                                quem fizer 9 games primeiro.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.2.2.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se
                                houver empate em 8x8, deverá ser jogado o “tie-break”.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.2.3.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Os
                                pontos serão calculados com base em uma regra de três. O vencedor receberá 6 e
                                o perdedor o resultado da regra de três, fazendo-se o arredondamento de acordo
                                com a regra matemática, ou seja, até 0,49 arredonda-se para baixo, a partir de
                                0,50 arredonda-se para cima. Como exemplo: Se o resultado no jogo for 9x4, o
                                resultado válido seria um duplo 6x3. Ou seja, a fórmula seria 9 está para 6
                                assim como 4 está para “x”.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se os jogadores não
                                quiserem jogar o “tie-break” e prosseguirem o jogo, será considerado, em games,
                                7x6 para o set normal, e 9x8 no pró-set.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.2.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se houver um terceiro
                                set, e for decidido jogar um super “tie-break”, o resultado final será
                                calculado com base em uma regra de três. O vencedor receberia 6 e o perdedor o
                                resultado da regra de três, arredondado para baixo. Como exemplo: Se o
                                resultado no super “tie-break” for 10x6, o resultado válido seria 6x3. Ou seja,
                                a fórmula seria 10 está para 6 assim como 6 está para “x”.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.3.4.1 Quando o
                                resultado da regra de três prevista no item 2.3.4 for menor que 1, será observado
                                o disposto no item 2.3.2.3.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.3.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Se por algum problema não for possível
                                terminar o jogo, será considerado vencedor quem tiver maior quantidade de
                                games, exceto por contusão ou desistência.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.3.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se ainda persistir a
                                igualdade, o vencedor sairá de um sorteio e receberá a quantidade de games
                                suficientes para fechar a partida.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.4.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                No caso de término do jogo por contusão ou
                                desistência, o vencedor irá receber a quantidade de games suficientes para
                                fechar a partida.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.5.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Se algum jogador não comparecer, ou se
                                atrasar por mais de 30 minutos, será considerado WO a favor do jogador que
                                compareceu.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.6.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Se os jogadores compareceram no local e no
                                horário marcado para o jogo, e o jogo não puder ser realizado, eles devem
                                remarcar o jogo, dentro da semana da realização dos jogos.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                2.6.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Se ainda assim não
                                puder haver o jogo, nenhum jogador receberá pontos, mas poderão, caso queiram,
                                realizar o jogo em outra semana e depois solicitar a retificação do resultado.
                            </span>
                        </p>

                        <p class=MsoNormal style='text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>


                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>Admissão na barragem:</span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                3.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                No momento do cadastro na Barragem o
                                tenista deverá fazer a opção    pelo nível INCIANTE, INTERMEDIÁRIO ou AVANÇADO.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                3.2.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O nível escolhido determinará a posição no
                                ranking em que o novo participante será colocado. Para isso a barragem é sempre
                                dividida em 3 terços, sendo que o avançado entrará na metade do primeiro terço,
                                o intermediário entrará na metade do segundo terço e o iniciante entrará na
                                metade do terceiro terço.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Ex: (suponhamos que no
                                dia do cadastro a barragem conte com 90 participantes. Aquele que marcar
                                Avançado entrará na posição 15, se marcar Intermediário entrará na posição 45 e
                                se marcar iniciante entrará na posição 75).
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                3.3.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                No momento da entrada na barragem o
                                tenista receberá os pontos necessários de acordo com sua opção de nível. Essa
                                pontuação recebida será divida por 10 e destribuída em 10 rodadas. Dessa forma,
                                já na sua primeira rodada, o novo integrante da Barragem já começa a defender
                                seus pontos.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>

                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>Saída da barragem:</span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                4.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Para sair da barragem, o participante deve
                                solicitar que o organizador o retire da lista.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>

                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>Pontuação:</span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>Jogos Normais</span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.1.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Cada jogador receberá
                                uma pontuação por cada partida disputada.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.1.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Esses pontos serão
                                acumulados por 10 (dez) rodadas, quando eles serão substituídos pelos novos
                                pontos.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:74.95pt;text-indent:-32.4pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.1.2.1.<span style='font:7.0pt "Times New Roman"'>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Dessa
                                forma, o ranking funcionará como o ranking da <i>ATP-Tour</i>, que cada jogador
                                começará a ter que defender seus pontos.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.1.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                A pontuação será
                                calculada com as fórmulas apresentadas no anexo I.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.2.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>Nos jogos que houver WO:</span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.2.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Considera-se ocorrido o
                                WO quando um dos jogadores não puder jogar na rodada da semana.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.2.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                O vencedor receberá
                                70&nbsp;% dos pontos como se vencesse por duplo 6x1.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.2.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                O perdedor não receberá
                                pontuação.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.3.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Nos jogos que não puderem ser realizadas
                                devido a problema com os dois atletas e estes avisarem.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.3.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Os atletas não
                                receberão pontos.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.4.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Nos jogos em que o resultado não for
                                informado por nenhum dos tenistas:
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:61.2pt;text-indent:-25.2pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.4.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                            </span><span style='line-height:150%;font-family:"Arial",sans-serif'>
                                Ambos não receberão
                                pontuação.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.5.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O jogador que não receber pontuação ou
                                deixar de jogar, mesmo que justificadamente, por 2 (dois) jogos seguidos será
                                retirado das rodadas e colocado de <b><u>licença automática/suspensão</u></b><u>
                                    até que regularize seus jogos e informe o resultado no site.
                                </u>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                5.6.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Nos jogos em que o perdedor fizer menos
                                de 2 (dois) games o vencedor receberá um Bônus de 50% na sua pontuação.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>

                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <a name="_Ref87665230">
                                <b>
                                    <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                        6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                    </span>
                                </b><b>
                                    <span style='line-height:150%;font-family:"Arial",sans-serif'>Licenças:</span>
                                </b>
                            </a>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                6.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O jogador que estiver impossibilitado de
                                jogar, por qualquer motivo, deve alterar sua situação/status no site para
                                licenciado. Desta forma seu nome não sairá na rodada, portanto não prejudicando
                                os colegas.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                6.2.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                A licença será sempre por prazo indeterminado,
                                ou seja, o participante quando quiser voltar deverá alterar o status/situação
                                no site para ativo.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                6.3.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O jogador que entrar de licença será
                                removido das rodadas da Barragem.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                6.4.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                O jogador de <b>Licença Voluntária</b> irá
                                receber 3 (três) pontos nas rodadas em que estiver ausente. O jogador de <b>
                                    Licença
                                    Automática/Suspensão
                                </b> (item 5.5) não receberá pontos até sair desta
                                condição.
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>


                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    Rodada Estendida (Feriados,
                                    Rodada 5 e Rodada 10)
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                7.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                As rodadas serão estendidas nas semanas em
                                que houver feriado, assim como nas rodadas 5 e 10, portanto nestas rodadas os
                                jogadores terão 14 dias para realizarem seu jogo.
                            </span>
                        </p>


                        <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
150%'>
                            <b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                    8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                                </span>
                            </b><b>
                                <span style='line-height:150%;font-family:"Arial",sans-serif'>Jogos atrasados</span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                8.1.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Os jogos atrasados poderão ser realizados
                                a qualquer tempo, mas os tenistas devem ficar atentos aos motivos de licença
                                automática/suspensão prevista no item 5.5.  
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-left:39.6pt;text-indent:-21.6pt;line-height:
150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>
                                8.2.<span style='font:7.0pt "Times New Roman"'></span>
                            </span><span style='line-height:
150%;font-family:"Arial",sans-serif'>
                                Os resultados dos jogos atrasados também
                                devem ser lançados no site no aba controlar jogo – jogos anteriores.
                            </span>
                        </p>

                        <p class=MsoNormal style='text-indent:0cm;line-height:150%'>
                            <span style='line-height:150%;font-family:"Arial",sans-serif'>&nbsp;</span>
                        </p>

                        <p class=MsoNormal>
                            <b>
                                <span style='font-family:"Arial",sans-serif'>
                                    DÚVIDAS. ENTRE EM CONTATO.
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal align=center style='margin-left:17.85pt;text-align:center;
text-indent:0cm'><b><span style='font-family:"Arial",sans-serif'>&nbsp;</span></b></p>

                        <p class=MsoNormal align=center style='margin-left:17.85pt;text-align:center;
text-indent:0cm'><b><span style='font-family:"Arial",sans-serif'>rankingdetenis@gmail.com</span></b></p>

                        <p class=MsoNormal align=center style='margin-left:17.85pt;text-align:center;
text-indent:0cm'>
                            <b>
                                <span style='font-family:"Arial",sans-serif'>
                                    RICARDO SILVA MARTINS.<br>61-98408-6580
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>
                            <span style='font-size:18.0pt;text-transform:uppercase'>Anexo I</span>
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <h2><span style='font-weight:normal'>Fórmulas para o cálculo da pontuação</span></h2>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <p class=MsoNormal style='text-indent:0cm'>            Desempenho:</p>

                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                               style='margin-left:131.1pt;border-collapse:collapse'>
                            <tr style='page-break-inside:avoid'>
                                <td width=113 valign=top style='width:85.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>
                                        (6
                                        x SG) + GG
                                    </p>
                                </td>
                                <td width=47 rowspan=2 style='width:35.5pt;padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=left style='text-align:left;text-indent:0cm'>x 100</p>
                                </td>
                            </tr>
                            <tr style='page-break-inside:avoid'>
                                <td width=113 valign=top style='width:85.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>
                                        (6
                                        x SJ) + GJ
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class=MsoNormal style='text-indent:0cm'>                                    Onde:</p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            SG  =   Sets
                            Ganhos
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            GG =   Games
                            Ganhos
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            SJ   =   Sets
                            Jogados
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            GJ   =   Games
                            Jogados
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>            Pontos Finais:</p>

                        <p class=MsoNormal style='text-indent:0cm'>                        Vencedor:</p>

                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                               style='margin-left:131.1pt;border-collapse:collapse'>
                            <tr style='page-break-inside:avoid'>
                                <td width=113 valign=top style='width:85.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>DesV</p>
                                </td>
                                <td width=47 rowspan=2 style='width:35.5pt;padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=left style='text-align:left;text-indent:0cm'>+ 6</p>
                                </td>
                            </tr>
                            <tr style='page-break-inside:avoid'>
                                <td width=113 valign=top style='width:85.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>
                                        (PosP
                                        + 4)
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class=MsoNormal style='text-indent:0cm'>                                    Onde:</p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            DesV   =   Desempenho
                            do Vencedor
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            PosP    =   Posição
                            (classificação) do Perdedor
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <p class=MsoNormal style='text-indent:0cm'>                        Perdedor:</p>

                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                               style='margin-left:131.1pt;border-collapse:collapse'>
                            <tr style='page-break-inside:avoid'>
                                <td width=113 valign=top style='width:85.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>DesP</p>
                                </td>
                                <td width=47 rowspan=2 style='width:35.5pt;padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=left style='text-align:left;text-indent:0cm'>+ 1</p>
                                </td>
                            </tr>
                            <tr style='page-break-inside:avoid'>
                                <td width=113 valign=top style='width:85.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt'>
                                    <p class=MsoNormal align=center style='text-align:center;text-indent:0cm'>
                                        (PosV
                                        + 4)
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class=MsoNormal style='text-indent:0cm'>&nbsp;</p>

                        <p class=MsoNormal style='text-indent:0cm'>                                    Onde:</p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            DesP   =   Desempenho
                            do Perdedor
                        </p>

                        <p class=MsoNormal style='text-indent:0cm'>
                            PosV   =   Posição
                            (classificação) do Vencedor
                        </p>

                        <br><br><br>
                    </div><!--//desc-->
                </div><!--//form-box-inner-->
            </div><!--//form-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//signup-section-->
<!--/div--><!--//upper-wrapper-->
