@{
    ViewBag.Title = "SolicitarAtivacao";
}

    <div class="alert alert-info">
        Solicitação enviada com sucesso. Em breve o administrador do Ranking ativará seu cadastro.<br> 
        Qualquer dúvida entrar em contato através do link: "Contato" no menu do site.
    </div>
